asgiref==3.8.1
black==25.1.0
blinker==1.8.2
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.1.7
colorama==0.4.6
comtypes==1.4.5
distlib==0.3.9
Django==5.2
django-browser-reload==1.21.0
django-tailwind==4.3.1
filelock==3.17.0
Flask==3.0.3
fpdf==1.7.2
gTTS==2.5.4
gunicorn==25.3.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mypy-extensions==1.0.0
ngrok==1.7.0
numpy==2.2.3
packaging==25.0
pandas==2.2.3
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.6
playsound==1.2.2
pyjokes==0.7.2
pypiwin32==223
python-dateutil==2.9.0.post0
pyttsx3==2.90
pytz==2025.1
pywin32==306
qrcode==8.0
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
tailwindcss==0.0.1
tzdata==2025.1
urllib3==2.5.0
uv==0.6.14
virtualenv==20.29.2
Werkzeug==3.0.3
whitenoise==6.12.0
